@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('./features/Editor/Editor.css');

@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap');

html,
body,
#root {
  height: 100%;
  overflow-y: hidden;
}

@font-face {
  font-family: 'Roslindale-Cyrillic';
  src: local('Roslindale-Cyrillic'), url(./fonts/RoslindaleCyrillicText-Regular.otf) format('opentype');
}